<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name ="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
  <param name="AppendToFile" value="true"/>
      <param name="File" value="EasyCap.log"/>
  <layout type="log4net.Layout.PatternLayout">
    <param name="ConversionPattern" value="%d[%t] %-5p %c - %m%n"/>
  </layout>
      </appender>
    <root>
      <level value="ALL"/>
    <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EasyCapture.Properties.Settings>
            <setting name="ImageNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </EasyCapture.Properties.Settings>
    </userSettings>
</configuration>